<!DOCTYPE html>
<html>
    <head>
        <title>Cube l'internet des objets</title>
        <meta charset="utf-8"/>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <img alt="logo petit" id="logo" src="img/1521027893877.png">
            <ul>
                <li>
                    <a href="index.html">Accueil</a>
                </li>
                <li>
                    <a href="map.html">Carte des sondes</a>
                </li>
                <li>
                    <a href="list.html">Liste du materiel</a>
                </li>
                <li>
                    <a href="api.html">API</a>
                </li>
            </ul>
        </header>
        <nav role="navigation">
            <div id="menuToggle">
              <input type="checkbox" />
              
              <span></span>
              <span></span>
              <span></span>
              
              <ul id="menu">
                <a href="index.html"><li>Accueil</li></a>
                <a href="map.html"><li>Carte des sondes</li></a>
                <a href="list.html"><li>Liste du materiel</li></a>
                <a href="api.html"><li>API</li></a>
              </ul>
            </div>
        </nav>

        <main>
            <div class="rideau"></div>

            <h1>LOGIN</h1>

            <form action="/api.html" method="POST">
                <input name="pwd" type="password" placeholder="Password">
                <input type="submit" class="subform">
            </form>

        </main>     
        <%=
            mess

        %>

    </body>
</html>